*{
    padding:0; 
    margin:0;
    box-sizing:border-box;
}
#wrap{
    position:relative;
    width:1920px;
    height:3100px;
}
#header{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
/*간편가입*/
#join ,#nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    
    width: 1920px;
}
#join{     
    position: relative;
    justify-content: center;
    padding: 10px;
    height: 75px;
    left: 0px;
    top: 0px;
    background: #000000; 
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
}
#nav{
    justify-content: space-between;
    padding: 10px 0px;
    height: 75px;
    left: 0px;
    top: 0px;
    position:sticky;
    margin-top:5px;
}
#menu1,#menu2,#menu3,#menu4{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #909090;
}
#menu1{
    width: 100px;
    height: 60px;
  
}
i{
    font-size: 60px;
}
#menu2{
    flex-direction: row;
    padding:10px 0px;
    gap: 10px;
    margin: 10px auto;
    width: 1020px;
    height: 60px;
    font-size: 50px;
    line-height: 97px;
    color: #FFFFFF;
    font-family:'Courier New', Courier, monospace;
}

/* 로그인 | 회원가입 */
#menu3{
    flex-direction: row;
    padding: 0px;
    gap: 10px;
    margin: 0 auto;
    width: 300px;
    height: 60px;
    font-size: 24px;
    line-height: 44px;
    color: #FFFFFF;
}

/* 장바구니/최근본항목 */
#menu4{
    flex-direction: row;
    padding: 9px 0px;
    gap: 10px;
    width: 390px;
    height: 60px;
    font-size: 20px;
    line-height: 44px;
    color: #FFFFFF;
}




/* 내용 */
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 300px 0px;
    gap: 10px;

    position: absolute;
    width: 1920px;
    height: 2800px;
    left: 0px;
    top: 300px;
}
/* All */
#subject{
    font-weight: 400;
    font-size: 70px;
    line-height: 88px;
}



/* 정렬 방식 */
#sort{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 100px 30px 10px;
    gap: 10px;
    width: 1320px;
    height: 211px;
}

/* 정렬 */
.subsort{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    width: 130px;
    height: 51px;
    background: #88ACA0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
}



/*상품목록*/
#product_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px;
    gap: 10px;

    width: 1320px;
    height: 1660px;
    background:#FFFFFF;
}
/*상품 1행 사진*/
#row1_img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    gap: 30px;
    width: 1260px;
    height: 400px;
}
.img{
    width: 300px;
    height: 400px;
    background:#D9D9D9;
}
/*상품 1행 이름 및 가격*/
#row1_write{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 30px;
    width: 1260px;
    height: 120px;
}
.write{
    width: 300px;
    height: 100px;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    text-align: center;
    color: #000000;
}


/*바닥글*/
#foot{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 1414px;
    height: 649px;
}
#footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 40px;
    width: 1414px;
    height: 351px;
    background: #909090;
}
#footer1{
    position:relative;
    width: 550px;
    height: 250px;
    background: #ECE5B6;
}  
#footer1_content{
   position: absolute;
    width: 454px;
    height: 200px;
    left: 25px;
    top: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;}